/*
* @Author: arunab
* @Date:   2021-02-12 13:28:35
* @Last Modified by:   Animesh Bhadra
* @Last Modified time: 2021-04-16 12:08:41
*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat|Fira Code|Merriweather');
:root {
  --sansFontFamily: "Roboto", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monoFontFamily: "Fira Code", "PT Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
  --serifFontFamily: "Montserrat", "PT Serif", Georgia, "Times New Roman", Times, serif;
  --serifHeadingFontFamily: "Merriweather", "PT Serif Caption", Baskerville, Garamond, Georgia,
    "DejaVu Serif", "Times New Roman", Times, serif;
}
